<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="cards mt-2">
        <h1 class="text-left text-danger">My Garage</h1>
        <div class="row row-cols-1 g-1 mt-5">
          <% @favourites.each do |favourite| %>
            <% car = favourite.car %>
            <div class="col">
              <div class="card custom-card d-flex flex-row align-items-center">
                <div class="card-img-left">
                  <%= cl_image_tag("vllsznsefdgx7uxyem05", width: 400, height: 200, crop: :fill, gravity: :auto) %>
                </div>

                <div class="card-body ps-3 flex-grow-1">
                  <h5 class="text-danger mb-1"><strong><%= car.brand %></strong></h5>
                  <p class="mb-0"><%= car.model %></p>
                  <small class="text-muted"><%= "#{car.year} | #{car.fuel}" %></small>
                </div>

                <div class="card-actions ps-3 pe-2">
                  <%= link_to car_favourite_path(car, favourite), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-sm", title: "Remove from Garage" do %>
                    <i class="fa-solid fa-trash"></i>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
