<div class="cards">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @cars.each do |car| %>
      <div class="col-3 p-3 mb-2">
        <div class="card h-100 text-white bg-dark position-relative">
          <div class="position-relative">
            <%= cl_image_tag("vllsznsefdgx7uxyem05",width: 590, height: 500, crop: :fill) %>
            <div class="car-title">
              <%= "#{car.brand} #{car.model}" %>
            </div>
          </div>
          <div class="car-body">
            <p><strong>Owner:</strong> <%= car.owner.nickname %></p>
            <p><%= @custom_datetime.strftime("%B %d, %Y %H:%M:%S") %></p>
            <%= link_to "Comments", car_path(car), class: "btn btn-info" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
