<div class="cards-background">
  <div class="cards">
    <% @cars.each do |car| %>
      <div class="car-card-wrapper mb-5">
        <div class="card h-100 text-black position-relative">
          <div class="position relative">
            <%= cl_image_tag("vllsznsefdgx7uxyem05", width: 700, height: 400, crop: :fill, gravity: :auto) %>

            <div class="car-meta">
              <strong><%= "#{car.brand} #{car.model}" %></strong><br>
              <small><%= @custom_datetime.strftime("%B %d, %Y %H:%M:%S") %></small>
            </div>
          </div>

          <div class="position-absolute bottom-0 end-0 m-3">
              <%= link_to car.owner.nickname, car_path(car), class: "btn btn-danger text-white rounded-pill px-3 py-1" %>
          </div>
          <div class="card-comments mb-4">
            <%= link_to("#{content_tag(:i, '', class: 'fa-regular fa-comment')} Comments".html_safe, car_path(car))%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
